<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8">
	<title>{% block title %}{{ forum.title }}{% endblock %}</title>
	<link href="/static/default.css" rel="stylesheet" type="text/css">
	<script language="javascript" src="/static/default.js" type="text/javascript"></script>
	{% block headlink %}{% endblock %}
</head>

<body>
{% block topper %}
{% autoescape off %}
  <div id="tbTop"> {{ log_in_out }} </div>
{% endautoescape %}
{% endblock %}

{% block content %}{% endblock %}
<hr>
<center>Powered by <a href="http://blog.kowalczyk.info/software/fofou">fofou</a> 
(<b><font color="blue">Fo</font></b>rums <b><font color="blue">Fo</font></b>r Yo<b><font color="blue">u</font></b>,
created by <a href="http://blog.kowalczyk.info">Krzysztof Kowalczyk</a>)</center>
<br>
{% block analytics %}{% endblock %}
</body>
</html>

