{% extends "base.html" %}

{% block content %}
<table>
<tbody>
<tr>
	<td colspan="2" class="header">
		<div>
			<h1><a href="{{ siteroot }}" class="green">{{ forum.title }}</a></h1>
			<p>{{ forum.tagline }}</p>
		</div>
	</td>
</tr>
<tr>
	<td class="sidebar">
{% autoescape off %}
            {{ forum.sidebar}}
{% endautoescape %}
	</td>
	<td class="contents">
		<h2>Your message has been sent</h2>
		<a href="{{ siteroot }}topic?id={{ topic.key.id }}{% if topic.ncomments %}&comments={{ topic.ncomments }}{% endif %}">Back to topic</a>
	</td>
</tr>
</tbody>
</table>
{% endblock %}